{
  "user_claim": "{{ item.user_claim }}",
  "bound_audiences": "{{ item.bound_audiences }}",
  "role_type": "{{ item.role_type }}",
  "policies": "{{ item.policies }}",
  "ttl": "{{ item.ttl }}",
  "bound_claims": { "groups": ["{{ item.bound_claims }}"] }
}
