apiVersion: 1
providers:
- name: 'monitoring-traefik'
  orgId: 1
  folder: ''
  type: file
  disableDeletion: false
  updateIntervalSeconds: 10 
  options:
    path: /var/lib/grafana/monitoring-traefik.json